.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.input-bus-searching{
    margin: 10px;
}

.input-bus-searching select{
    font-size: 18px;
    width: 500px;
}
.input-bus-searching  label{
    display: block;
    color: red;
}
.input-bus-searching input{
    font-size: 18px;
    width: 500px;
}
.search-bus-btn input{
    margin-left: 250px;
    background-color: rgb(24, 176, 140);
    color: white;
}